* {
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
    scroll-behavior: smooth;
}

.container-main {
    box-shadow: 0px 5px 100px 23px rgba(41, 41, 41, 0.33);
    max-width: 1440px;
    margin: 0 auto;
}

.hamburger {
    display: none;
}

body {
 
}

header{
    position: sticky;
    top: 0px;
    z-index: 5;
}

h1 {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 60px;
}

h2 {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 50px;
}

h3 {
    font-size: 30px;
    font-weight: bold;
}

.container {
    background-color: #fff;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 40px;
    /* padding: 0 40px; */
    border-bottom: 6px solid darkorange;
}

.nav {
    background-color: rgb(14, 49, 250);
    color: #fff;
    display: flex;
    align-items: center;
    height: 90px;
    border-radius: 5px 5px 25px 100px;
    box-shadow: 0px 5px 17px 0px rgba(0, 120, 255, 0.62);
}

.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 40px;
}

.nav__item {
    color: #fff;
/* padding-left: 40px; */
    text-decoration: none;
    list-style-type: none;
    font-family: 'Cabin', sans-serif;
    font-size: 30px;
    transition: 0.5s;
}

.nav__item:hover {
    color: darkorange;
}

.avatar {
    height: 500px;
    width: 500px;
    border-radius: 15%;
    object-fit: cover;
    box-shadow: -1px 9px 29px 14px rgba(22, 51, 73, 0.35);
    margin-left: 30px;
}

.promo {
    margin-right: 30px;
}

.about-inner {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.about__text {
    font-size: 30px;
}

.container-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts-list {
    display: flex;
    flex-direction: row;
    gap: 360px;
}

.contacts-item {
    font-size: 30px;
    text-decoration: none;
}

.contacts-item-link {
    font-size: 30px;
    text-decoration: none;
    color: blue;
    transition: 0.5s;
}

.contacts-item-link:hover {
    color: darkorange;
}

.contacts-item-link:visited {
    text-decoration: none;
}

.container-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-inner__skills {
    display: flex;
    flex-direction: row;
    gap: 360px;
}

.li-skills {
    font-size: 30px;
}

.container-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.project-text {
    font-size: 30px;
}

.project-item {
    font-size: 30px;
    color: blue;
    text-decoration: none;
    transition: 0.5s;
    text-align: center;
    padding-bottom: 10px;
}

.project-item:hover {
    color: darkorange;
}

.port {
    background-image: url(./img/por.png);
    height: 300px;
    width: 460px;
    background-size: auto 300px;
    border-radius: 10px;
    box-shadow: 0px 5px 100px -26px rgba(41, 41, 41, 0.8);
}

.gall {
    background-image: url(./img/gal.png);
    height: 300px;
    width: 460px;
    background-size: auto 300px;
    border-radius: 10px;
    box-shadow: 0px 5px 100px -26px rgba(41, 41, 41, 0.8);
}

.dino {
    background-image: url(./img/dino.png);
    height: 300px;
    width: 460px;
    background-size: auto 300px;
    border-radius: 10px;
    box-shadow: 0px 5px 100px -26px rgba(41, 41, 41, 0.8);
}

.prev {
    transition: 0.5s;
}

.prev:hover {
    transform: scale(1.03);
}

.education__title {
    text-align: center;
}

.cont-edu {
    margin-left: 30px;
    margin-right: 30px;
}

.li-edu {
    font-size: 30px;
}

.lang-text {
    font-size: 30px;
}

.footer-text {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.container-footer {
    padding-bottom: 5px;
}



@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .project-list {
        flex-direction: column;
    }

    .about-inner {
        flex-direction: column;
        margin-left: 30px;
    }

    .contacts-list {
        gap: 100px;
    }

    .container-inner__skills {
        gap: 100px;
    }

    .hamburger {
        display: none;
    }
}

@media only screen and (min-width : 320px) and (max-width : 480px) {

    .about-inner {
        flex-direction: column;
    }

    .avatar {
        height: 290px;
        width: 290px;
        margin: 0;
    }

    .about__text {
        font-size: 20px;
    }

    .contacts-list {
        flex-direction: column;
        gap: 20px;
    }

    .container-inner__skills {
        flex-direction: column;
        gap: 20px;
    }

    pre {
        font-size: 7px;
    }

    .project-list {
        flex-direction: column;
    }

    .port {
        height: 160px;
        width: 300px;
        background-size: 300px 160px;
    }
    .gall {
        height: 160px;
        width: 300px;
        background-size: 300px 160px;
    }
    .dino {
        height: 160px;
        width: 300px;
        background-size: 300px 160px;
    }

    .li-edu {
        font-size: 20px;
    }

    .lang-text {
        font-size: 20px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 25px;
    }

    .li-skills {
        font-size: 20px;
    }

    .promo {
        margin-right: 10px;
        margin-left: 10px;
    }

    .nav__list {
        display: none;
        transition: 0.5s;
    }

    .nav__list.open {
        display: flex;
        flex-direction: column;
    }

    .nav {
        justify-content: end;
        transition: 0.5s;
    }

    .open {
        transition: 0.5s;
    }

    .nav.open {
        height: 400px;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        transition: 0.5s;
    }

    .line {
        height: 3px;
        width: 40px;
        background-color: #fff;
        margin-bottom: 4px;
        margin-right: 50px;
    }

    .line1.open {
        transform: rotate(45deg) translateY(5px);

    }

    .line3.open {
        transform: rotate(-45deg) translateY(-5px);
    }

    .line2.open {
        transition: 0.5s;
        display: none;
    }



}